<div class="navigation-items">
  <div class="navigation-item">
    <a routerLink="/home" routerLinkActive="active-link"><i class="fas fa-tachometer-alt icon-left"></i>
      <span>Dashboard</span> </a>
  </div>
  <div class="navigation-item">
    <a (click)="menuToShow = 'more'" routerLink="/employees/list" routerLinkActive="active-link"><i class="fas fa-user icon-left"></i>
      <span>Mitarbeiter</span> </a>
  </div>
</div>



<!--
<div class="nav-menu" [@leftInLeftOut] *ngIf="menuToShow=== 'more'">
  <ng-container *ngTemplateOutlet="close"></ng-container>
  <div class="navigation-item">
    <a [routerLink]="['/home2']" routerLinkActive="active-link">CAS-Verwaltung</a>
  </div>
  <div class="navigation-item">
    <a routerLink="supplier/list" routerLinkActive="active-link">Mitarbeiter</a>
  </div>
  <div class="navigation-item">
    <a routerLink="supplier/add" routerLinkActive="active-link">Studenten</a>
  </div>
</div>
-->



<ng-template #close>
  <div class="navigation-item">
    <a (click)="menuToShow = null"><i class="fas fa-chevron-left icon-left"></i> Zurück </a>
  </div>
</ng-template>
