<div class="login-wrapper">
  <div class="login-window">
    <h4>Login - Notensystem - Admin</h4>
    <div class="form-group">
      <mat-form-field>
        <input matInput="" type="text" placeholder="Benutzernmae">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field>
        <input matInput="" type="password" placeholder="Passwort">
      </mat-form-field>
    </div>
    <div class="footer">
      <button mat-button="" mat-raised-button="" class="mat-primary" routerLink="/content">Anmelden</button>
    </div>
  </div>
</div>
